.LandingPage {
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1582815386453-c3817e93e745?q=80&w=1452&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    color: white;

}

nav {
    display: flex;
    padding-inline: 2rem;
    justify-content: space-between;
}

.leftNav {
    padding-top: 1.6rem;
    font-size: 1.6rem;
}

.rightNav {
    display: flex;
    padding-top: 1.8rem;
    gap: 2.4rem;
}

.heroSection {
    display: flex;
    padding-inline: 20px;
    height: 80vh;
    gap: 10vw;
    justify-content: center;
}

.leftHero{
    font-size: 2.2rem;
    padding-top: 20vh;
}

.rightHero img {
    padding-top: 10vh;
    width: 30vw;
    height: auto;
    border-radius: 20px;
}